<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Cartão Digital
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-card>
  <img alt="eu" src="assets/foto-cartão.jpg" />
  <ion-card-header>
    <ion-card-title>Sara do Nascimento de Oliveira</ion-card-title>
    <ion-card-subtitle>Código da Turma: ADS-BG Manhã</ion-card-subtitle>
  </ion-card-header>

</ion-card>
<ion-button expand="block" color="tertiary" [routerLink]="['/inicio']">Voltar</ion-button>


</ion-content>

